@{
	var randomStr = DateTime.Now.ToString().ToLower().Replace(":", "").Replace("pm", "").Replace("am", "");

	var profileType = User.IsInRole("Admin") ? "Admin" : "User";
}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] | Medics Archive</title>

	<meta name="description" content="SmartHR - An advanced Bootstrap 5 admin dashboard template for HRM and CRM. Ideal for managing employee records, payroll, attendance, recruitment, and team performance with an intuitive and responsive design. Perfect for HR teams and business managers looking to streamline workforce management.">
	<meta name="keywords" content="HR dashboard template, HRM admin template, Bootstrap 5 HR dashboard, workforce management dashboard, employee management system, payroll dashboard, HR analytics, admin dashboard, CRM admin template, human resources management, HR admin template, team management dashboard, recruitment dashboard, employee attendance system, performance management, HR CRM, HR dashboard HTML, Bootstrap HR template, employee engagement, HR software, project management dashboard">
	<meta name="author" content="Dreams Technologies">
	<meta name="robots" content="index, follow">


	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="~/template/assets/img/apple-touch-icon.png">

	<!-- Favicon -->
	<link rel="icon" href="~/template/assets/img/favicon.png" type="image/x-icon">
	<link rel="shortcut icon" href="~/template/assets/img/favicon.png" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/template/assets/css/bootstrap.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/icons/feather/feather.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/tabler-icons/tabler-icons.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/select2/css/select2.min.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="~/template/assets/css/dataTables.bootstrap5.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="~/template/assets/plugins/fontawesome/css/all.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="~/template/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Bootstrap Tagsinput CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/summernote/summernote-lite.min.css">

	<!-- Daterangepikcer CSS -->
	<link rel="stylesheet" href="~/template/assets/plugins/daterangepicker/daterangepicker.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="~/template/assets/css/style.css">

    <link href="~/css/sweetalert2.css" rel="stylesheet" />

	<script>
		function errorAlert(message) {
			Swal.fire({
				icon: 'error',
				text: message,
				timer: 60000,
				confirmButtonColor: "#F37438",
			})
		}

		function infoAlert(message) {
			Swal.fire({
				icon: 'info',
				text: message,
				timer: 30000,
				confirmButtonColor: "#F37438",
			})
		}

		function successAlert(message) {
			Swal.fire({
				icon: 'success',
				text: message,
				timer: 30000,
				confirmButtonColor: "#F37438",
			})
		}

		 function newSuccessAlert(message, url) {
				Swal.fire({
					icon: 'success',
					text: message,
					confirmButtonColor: "#F37438",
				}).then((isConfirm) => {
					if (isConfirm) {
						location.reload(url);
					}
				})
			}
	</script>

</head>
<body>
	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<!-- Header -->
		<div class="header">
			<div class="main-header">

				<div class="header-left">
					<a href="index.html" class="logo">
						<img src="~/template/assets/img/logo.svg" alt="Logo">
					</a>
					<a href="index.html" class="dark-logo">
						<img src="~/template/assets/img/logo-white.svg" alt="Logo">
					</a>
				</div>

				<a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>

				<div class="header-user">
					<div class="nav user-menu nav-list">

						<div class="me-auto d-flex align-items-center" id="header-search">
							<a id="toggle_btn" href="javascript:void(0);" class="btn btn-menubar me-1">
								<i class="ti ti-arrow-bar-to-left"></i>
							</a>
							<!-- Search -->
							<div class="input-group input-group-flat d-inline-flex me-1">
								<span class="input-icon-addon">
									<i class="ti ti-search"></i>
								</span>
								<input type="text" class="form-control" placeholder="Search in Medics Archive">
								<span class="input-group-text">
									<kbd>CTRL + / </kbd>
								</span>
							</div>
							<!-- /Search -->
						</div>
						<div class="d-flex align-items-center">
							<div class="me-1">
								<a href="#" class="btn btn-menubar btnFullscreen">
									<i class="ti ti-maximize"></i>
								</a>
							</div>
							<div class="dropdown me-1">
								<a href="#" class="btn btn-menubar" data-bs-toggle="dropdown">
									<i class="ti ti-layout-grid-remove"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end">
									<div class="card mb-0 border-0 shadow-none">
										<div class="card-header">
											<h4>Applications</h4>
										</div>
										<div class="card-body">
											<a href="calendar.html" class="d-block pb-2">
												<span class="avatar avatar-md bg-transparent-dark me-2"><i class="ti ti-calendar text-gray-9"></i></span>Calendar
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="me-1 notification_item">
								<a href="#" class="btn btn-menubar position-relative me-1"
								   id="notification_popup" data-bs-toggle="dropdown">
									<i class="ti ti-bell"></i>
									<span class="notification-status-dot"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-end notification-dropdown p-4">
									<div class="d-flex align-items-center justify-content-between border-bottom p-0 pb-3 mb-3">
										<h4 class="notification-title">Notifications (1)</h4>
										<div class="d-flex align-items-center">
											<a href="#" class="text-primary fs-15 me-3 lh-1">Mark all as read</a>
										</div>
									</div>
									<div class="noti-content">
										<div class="d-flex flex-column">
											<div class="border-bottom mb-3 pb-3">
												<a href="activity.html">
													<div class="d-flex">
														<span class="avatar avatar-lg me-2 flex-shrink-0">
															<img src="~/template/assets/img/profiles/avatar-27.jpg" alt="Profile">
														</span>
														<div class="flex-grow-1">
															<p class="mb-1">
																<span class="text-dark fw-semibold">Shawn </span>
																performance in Math is
																below the threshold.
															</p>
															<span>Just Now</span>
														</div>
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="d-flex p-0">
										<a href="#" class="btn btn-light w-100 me-2">Cancel</a>
										<a href="activity.html" class="btn btn-primary w-100">View All</a>
									</div>
								</div>
							</div>
							<div class="dropdown profile-dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle d-flex align-items-center"
								   data-bs-toggle="dropdown">
									<span class="avatar avatar-sm online">
										<img src="~/template/assets/img/profiles/avatar-12.jpg" alt="Img" class="img-fluid rounded-circle">
									</span>
								</a>
								<div class="dropdown-menu shadow-none">
									<div class="card mb-0">
										<div class="card-header">
											<div class="d-flex align-items-center">
												<span class="avatar avatar-lg me-2 avatar-rounded">
													<img src="~/template/assets/img/profiles/avatar-12.jpg" alt="img">
												</span>
												<div>
													<h5 class="mb-0">@User.FindFirst("FullName")?.Value</h5>
													<p class="fs-12 fw-medium mb-0">@User.Identity?.Name</p>
												</div>
											</div>
										</div>
										<div class="card-body">
											<a class="dropdown-item d-inline-flex align-items-center p-0 py-2" href="/User/Profile">
												<i class="ti ti-user-circle me-1"></i>My Profile
											</a>
										</div>
										<div class="card-footer py-1">
											<form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
												<button type="submit" class="dropdown-item d-inline-flex align-items-center p-0 py-2 border-0 bg-transparent">
													<i class="ti ti-login me-2"></i>Logout
												</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
						<i class="fa fa-ellipsis-v"></i>
					</a>
					<div class="dropdown-menu dropdown-menu-end">
						<a class="dropdown-item" href="/User/Profile">My Profile</a>

						<form asp-controller="Account" asp-action="Logout" method="post" class="m-0">
							@Html.AntiForgeryToken()
							<button type="submit" class="dropdown-item border-0 bg-transparent w-100 text-start">
								Logout
							</button>
						</form>
					</div>
				</div>
				<!-- /Mobile Menu -->
			</div>
		</div>
		<!-- /Header -->

		<!-- Sidebar -->
		<div class="sidebar" id="sidebar">
			<div class="sidebar-logo">
				<h4 style="color:#F37438;">Medics Archive</h4>
			</div>
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title"><span>MAIN MENU</span></li>
						<li>
							<ul>
								<li class="submenu">
									<a href="javascript:void(0);">
										<i class="ti ti-smart-home"></i><span>Dashboard</span>
									</a>
								</li>
							</ul>
						</li>
						<li class="menu-title"><span>Report Center</span></li>
						<li>
							<ul>
								<li>
									<a asp-action="Index" asp-controller="Report">
										<i class="ti ti-box"></i><span>Results</span>
									</a>
								</li>
								@if (profileType != "User")
								{
									<li>
										<a asp-action="Researcher" asp-controller="Report">
											<i class="ti ti-users-group"></i><span>Researchers</span>
										</a>
									</li>
								}
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Sidebar -->
		@RenderBody()
	</div>
	<!-- /Main Wrapper -->

	<!-- jQuery -->
	<script src="~/template/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="~/template/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Slimscroll JS -->
	<script src="~/template/assets/js/jquery.slimscroll.min.js"></script>

	<!-- Datatable JS -->
	<script src="~/template/assets/js/jquery.dataTables.min.js"></script>
	<script src="~/template/assets/js/dataTables.bootstrap5.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="~/template/assets/js/feather.min.js"></script>

	<!-- Daterangepikcer JS -->
	<script src="~/template/assets/js/moment.js"></script>
	<script src="~/template/assets/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="~/template/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Summernote JS -->
	<script src="~/template/assets/plugins/summernote/summernote-lite.min.js"></script>

	<!-- Bootstrap Tagsinput JS -->
	<script src="~/template/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>

	<!-- Select2 JS -->
	<script src="~/template/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Custom JS -->
	<script src="~/template/assets/js/script.js"></script>

	<script src="~/js/sweetalert2.all.min.js"></script>
	<script src="~/js/site.js?v=@randomStr"></script>
</body>

</html>